@page
@model ObserveAssign.Pages.User.EditModel

@{
    ViewData["Title"] = "Edit User";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>Edit User</h1>

<div class="row">
    <div class="col-md-6">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="UserModel.ID" />
            <div class="form-group row">
                <label asp-for="UserModel.UserName" class="control-label col-2 right-align"></label>
                <input asp-for="UserModel.UserName" class="form-control col" />
                <span asp-validation-for="UserModel.UserName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UserModel.FirstName" class="control-label col-2 right-align"></label>
                <input asp-for="UserModel.FirstName" class="form-control col" />
                <span asp-validation-for="UserModel.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UserModel.LastName" class="control-label col-2 right-align"></label>
                <input asp-for="UserModel.LastName" class="form-control col" />
                <span asp-validation-for="UserModel.LastName" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UserModel.Email" class="control-label col-2 right-align"></label>
                <input asp-for="UserModel.Email" class="form-control col" />
                <span asp-validation-for="UserModel.Email" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UserModel.UserRoles" class="control-label col-2 right-align"></label>
                <select asp-for="@Model.CurrentUserRole.RoleId" asp-items="@Model.UserRoles" class="col">
                    <option value="-1">-- Please Select --</option>
                </select>
                <span asp-validation-for="UserModel.UserRoles" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UserModel.UserProjects" class="control-label col-2 right-align"></label>
                <select asp-for="@Model.SelectedProjects" class="form-control col" asp-items="@Model.ProjectList" multiple="multiple">
                </select>
            </div>
            <div class="form-group row">
                <label asp-for="UserModel.EmailConfirmed" class="control-label col-2 right-align"></label>
                <input type="checkbox" asp-for="UserModel.EmailConfirmed" class="form-check-input" style="height:25px;" />
                <span asp-validation-for="UserModel.EmailConfirmed" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <label asp-for="UserModel.LockoutEnabled" class="control-label col-2 right-align"></label>
                <input type="checkbox" asp-for="UserModel.LockoutEnabled" class="form-check-input" style="height:25px;" />
                <span asp-validation-for="UserModel.LockoutEnabled" class="text-danger"></span>
            </div>
            <div class="form-group row">
                <div class="col-2"></div>
                <div class="col p-0">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    <a asp-page="Index" class="btn btn-outline-dark">Cancel</a>
                </div>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
